

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title{
    
    font-size:3rem;
}
#generate-button{
    display: block;
    padding:1rem 2rem;
    font-size: 1.5rem;
}
#trivia-form{
    margin-top:1em;
}
#trivia-form input:hover{
    cursor: pointer;
}

.input-wrong{
    background-color: red;
    color: white;
}
.input-correct{
    background-color:green;
    color:white;
}